/* AdmissionForm.css */

.admission-form-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;

    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e6a7a7;
}
input{
    background-color: #fff;
    color: #000;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    background-color: #fff;
    color: #333;
}

textarea {
    height: 100px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
